// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
  // Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
  // Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

  // 3. Set the derived variables
  // Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
  // Use the existing orange as the danger color
$danger: $orange;
  // Use the new serif family
$family-primary: $family-serif;

  // 4. Setup your Custom Colors
$linkedin: #0077B5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #1DA1F2;
$twitter-invert: findColorInvert($twitter);
$github: #222222;
$github-invert: findColorInvert($github);
  // Add new color variables to the color map.
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);

$colors: map-merge($colors, $addColors);

  // 5. Import the rest of Bulma
@import "bulma/css/bulma.css";