<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://paininthe.ax/">
      <img style="margin-top: -5px" src="assets/ewy_trans.png" alt="Logo" width="32" height="64">
    </a>

    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://ganskesikkert.com/">
          <span class="icon"><i class="fas fa-bars"></i></span>
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="https://ganskesikkert.no/informasjon.html">
            <i class="fas fa-info fa-1x" style="margin-left: 3px; margin-right: 9px"></i>
            Information
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://ganskesikkert.no/kontakt.html">
            <i class="far fa-address-book fa-1x" style="margin-right: 5px"></i>
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://ganskesikkert.no/personvern.html">
            <i class="fas fa-user-shield fa-1x" style="margin-right: 5px"></i>
            Stream
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-info" href="https://www.facebook.com/ganskesikkertnorge">
              <span class="icon has-text-white">
                 <i class="fab fa-facebook fa-2x"></i>
              </span>
            </a>
            <a class="button is-info" href="https://www.linkedin.com/company/ganskesikkert">
              <span class="icon has-text-white" >
                  <i class="fab fa-linkedin fa-2x"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function() {
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('#' + burger.dataset.target);
    burger.addEventListener('click', function() {
              burger.classList.toggle('is-active');
              nav.classList.toggle('is-active');
            }
    );
  })();
</script>